<!DOCTYPE html>
<html>
  <head>
    <title>Equipos</title>    
      
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.js"></script>    
    <script src="/jq/appEq.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>    


    <select class="custom-select" id="inputGroupSelect01">
            <% var options = results; %>
            <% for(var i = 0; i < results.length; i++) 
              { %>
              <option value='<%= options[i].idProject %>'><%= options[i].nombre %></option>
            <% } %>
        </select>

        
  </body>
</html>
