<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/jq/appJq.js"></script>
  </head>
  <body>
    <div class="containter">
      <div class="row">
        <div class="col-12">
          <h1 class="display-1">Formación de equipos Unilever</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form>
            <input type="file" name="archivoExcel" id="archivoExcel" />
          </form>
          <button id="buttonSend">Cargar archivo</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <select class="custom-select" id="inputGroupSelect01"> </select>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 id="projectTitle"></h2>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <select class="custom-select" id="inputSelectLeader"> </select>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>         
                <th scope="col">Líder</th>
                <th scope="col">Eneatipo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Enetatipo</th>
              </tr>              
            </thead>
            <tbody id="tbody-subleaders">

            </tbody>
          </table>
        </div>
      </div>
    </div>




    <script src="javascripts/appJq.js"></script>
  </body>
</html>
