<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  </head>
  <body>
    <h1>Si jala :D</h1>


    <form>
      <input type="file" name="archivoExcel" id="archivoExcel">
    </form>    
    <button id="buttonSend">Presiona</button>

    <script src="javascripts/appJq.js"></script>
  </body>
</html>
